
@section scripts{
  @Scripts.Render("~/bundles/consultorios")
}

<div id="body">

  <h2>Bem vindo</h2>
  <br /><br />
  <h3>Frameworks e Bibliotecas empregadas</h3>
  <br />
  <h4>.NET Framework 4.7+</h4>
  <h4>Knockout JS</h4>
  <h4>Ajax</h4>
  <h4>C# API REST</h4>
  <h4>SQL Server ( Script disponivel na pasta "Script DataBase" dentro do código)</h4>
  <h4>Dependency Injection</h4>
  <br />
  <label> Para dar inicio, adicione a connection string em RepositorioBase, no projeto Repositorio.</label>






</div>
